<form class="search" action="/search" method="get">
  <label class="sr-only" for="search-q">Cari testimoni</label>
  <input
    id="search-q"
    name="q"
    value="<%= typeof value !== 'undefined' ? value : '' %>"
    placeholder="<%= typeof placeholder !== 'undefined' ? placeholder : 'Cari: thalasemia, jerawatan, beruntusan...' %>"
    autocomplete="off"
  >
  <button type="submit">Cari</button>
</form>
