<header class="topbar">
  <a class="brand" href="/"><%= config.webTitle %></a>
  <nav>
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/connect">Meta API</a>
  </nav>
</header>
